<?xml version="1.0" encoding="UTF-8"?>
<settings
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd"
	xmlns="http://maven.apache.org/SETTINGS/1.1.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<servers>
		<server>
			<username>SRVPSSAPRCIPHERTRU02</username>
			<password>AKCp8nyrzLQnMiTYFLo8LZtDPo9QgDNf62Gv7hqPHUK8zHnNBS7hsBRLKAiQVwaBycfRjdHkz</password>
			<id>central</id>
		</server>
		<server>
			<username>SRVPSSAPRCIPHERTRU02</username>
			<password>AKCp8nyrzLQnMiTYFLo8LZtDPo9QgDNf62Gv7hqPHUK8zHnNBS7hsBRLKAiQVwaBycfRjdHkz</password>
			<id>snapshots</id>
		</server>
		<server>
			<username>SRVPSSAPRCIPHERTRU02</username>
			<password>AKCp8nyrzLQnMiTYFLo8LZtDPo9QgDNf62Gv7hqPHUK8zHnNBS7hsBRLKAiQVwaBycfRjdHkz</password>
			<id>snapshots-interconnect</id>
		</server>
		<server>
			<username>SRVPSSAPRCIPHERTRU02</username>
			<password>AKCp8nyrzLQnMiTYFLo8LZtDPo9QgDNf62Gv7hqPHUK8zHnNBS7hsBRLKAiQVwaBycfRjdHkz</password>
			<id>central-maven-pca-neo</id>
		</server>
		<server>
			<username>SRVPSSAPRCIPHERTRU02</username>
			<password>AKCp8nyrzLQnMiTYFLo8LZtDPo9QgDNf62Gv7hqPHUK8zHnNBS7hsBRLKAiQVwaBycfRjdHkz</password>
			<id>snapshots-maven-pca-neo</id>
		</server>
                <server>
			<username>SRVPSSAPRCIPHERTRU02</username>
			<password>AKCp8nyrzLQnMiTYFLo8LZtDPo9QgDNf62Gv7hqPHUK8zHnNBS7hsBRLKAiQVwaBycfRjdHkz</password>
			<id>snapshots-phil-sahi-local</id>
		</server>
	</servers>
	    <profiles>
        <profile>
            <repositories>
                <repository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>snapshots-interconnect</id>
                    <name>maven-rt-interconnect</name>
                    <url>https://artifactory.pruconnect.net/artifactory/maven-rt-interconnect</url>
                </repository>
                <repository>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                    <id>central</id>
                    <name>maven-release</name>
                    <url>https://artifactory.pruconnect.net/artifactory/maven-release</url>
                    <releases><enabled>true</enabled><updatePolicy>always</updatePolicy></releases>
                </repository>
                <repository>
                    <snapshots/>
                    <id>snapshots</id>
                    <name>maven-release</name>
                    <url>https://artifactory.pruconnect.net/artifactory/maven-release</url>
                    <releases><enabled>true</enabled><updatePolicy>always</updatePolicy></releases>
                </repository>
                <repository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>central-maven-pca-neo</id>
                    <name>maven-pca-neo</name>
                    <url>https://artifactory.pruconnect.net/artifactory/maven-pca-neo</url>
                </repository>
                <repository>
                    <snapshots />
                    <id>snapshots-maven-pca-neo</id>
                    <name>maven-pca-neo</name>
                    <url>https://artifactory.pruconnect.net/artifactory/maven-pca-neo</url>
                    <releases><enabled>true</enabled><updatePolicy>always</updatePolicy></releases>
                </repository>
                <repository>
                    <snapshots />
                    <id>snapshots-phil-sahi-local</id>
                    <name>maven-pca-neo</name>
                    <url>https://artifactory.pruconnect.net/artifactory/docker-phil-sahi-local</url>
                    <releases><enabled>true</enabled><updatePolicy>always</updatePolicy></releases>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>central</id>
                    <name>maven-pca-neo</name>
                    <url>https://artifactory.pruconnect.net/artifactory/maven-pca-neo</url>
                    <releases><enabled>true</enabled><updatePolicy>always</updatePolicy></releases>
                </pluginRepository>
                <pluginRepository>
                    <snapshots />
                    <id>snapshots</id>
                    <name>maven-pca-neo</name>
                    <url>https://artifactory.pruconnect.net/artifactory/maven-pca-neo</url>
                    <releases><enabled>true</enabled><updatePolicy>always</updatePolicy></releases>
                </pluginRepository>
            </pluginRepositories>
            <id>artifactory_newpulse</id>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>artifactory_newpulse</activeProfile>
    </activeProfiles>
</settings>